.deletepopup-main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
     color: white;
     z-index: 2;
     margin: 0;
     min-height: 100%;
 }
 .deletepopup-container{
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white; 
     box-shadow: 0px 0px 10px rgba(0,0,0,0.2);   
     color: black;
     border-radius: 6px;
     width: 320px;
 
     position: relative;
 }
 
 .deletepopup-content{
     display: flex;
     flex-direction: column;
     padding: 2.5rem 2.5rem 2.5rem;
     gap: 1rem;
     width: 100%;
     margin: 0;
 }
 
 .deletepopup-content p{
     text-align: center;
     font-size: 1.3rem;
     font-weight: 500;
     padding: 0;
     margin: 0;
 }


 .deletePopup-btn-div{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     margin-top: .5rem;
 }
 .deletePopup-btn-div button{
     font-size: 1rem;
     padding: .4em 2.5em;
     border-radius: 6px;
     
     outline: none;
    
     cursor: pointer;
 }
 .cancel-btn{
    background-color: inherit;
    border: 1px solid black;
    color: black;
 }
 .cancel-btn:hover{
    transform: scale(1.02);
    transition: all .2 ease;
 }
 .confirm-btn{
    background-color: red;
    color: white;
    border: none;
 }
 .confirm-btn:hover{
    transform: scale(1.02);
    transition: all .2 ease;
 }
 
 .close-icon-btn{
     position: absolute;
     top: 0;
     right: 0;
     outline: none;
     border-radius: 6px;
     background-color: inherit;
    
     border: none;
     cursor: pointer;
 }
 