.lockedPage-container{
    margin-left: 630px;
    background-color: rgb(158, 155, 155);
    min-height: 100vh;
}
.lockedPage-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.lockedPage-icon img{
    width: 80px;
    
}
.text-and-passwordInput{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-and-passwordInput input {

    width: 80%;
    padding: .5em .3em;
    font-family: 'Rubik', sans-serif;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;  
}
.verifyPassword-btn{
   
    margin-top: 1rem;
   
}   
.verifyPassword-btn button{
    padding: .4em 2em;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--silicon-green);
    border-radius: 6px;
    color: white;
}
.verifyPassword-btn button:hover{
    background-color: #05a2ad;
    transition: all .3s ease;
}
