/* .task-page-container{
   
} */
.todoApp-container{
    min-height: 100vh;
    background-color: white;
    
}
button{
    outline: none;
    background-color:inherit;
    border: none;
    cursor: pointer;
    
}
.text-area-container{    
    margin-left: 640px;
    min-height: 100vh;
    /* background-color: red; */
      
}

.body-container{
    margin: 2.5rem 3rem 1rem;
    padding-top:1rem;
    /* background-color: pink; */
    /* border: 2px  solid black; */
    min-height: 100vh;
}

.text-icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group-icons-div{
    display: flex;
    gap: .6rem;
}
.text-editor-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.edit-text-div{
    display: flex;
    justify-content: end;
    margin-top: .7rem;

}

.edit-text-editor-btn{
    background-color: var(--silicon-green);
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5em 2em;
    border-radius: 6px;

}
.edit-text-editor-btn:hover{
    background-color: #05a2ad;
    transition: all .2s ease;
}


.icon-btn-home{
    padding: 0;
    margin: 0;
    
}
.icon-btn-home:hover{
    opacity: .9;
    transition: all .2s ease;

}
.icon-btn-delete-home{
    padding: 0;
    margin: 0;
}
.reactquill-text{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}